In [1]:
import pandas as pd

In [2]:
taxi_dtypes = {
    'VendorID' : pd.Int64Dtype(),
    'passenger_count' : pd.Int64Dtype(),
    'trip_distance' :   float,
    'RatecodeID' : pd.Int64Dtype(),
    'store_and_fwd_flag':str,
    'PULocationID' : pd.Int64Dtype(),
    'DOLocationID' : pd.Int64Dtype(),
    'payment_type' : pd.Int64Dtype(),
    'fare_amount' : float,
    'extra' : float,
    'mta_tax' : float,
    'tip_amount' : float,
    'tolls_amount' : float,
    'improvement_surcharge' : float,
    'total_amount' : float,
    'congestion_surcharge' : float

} 

df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz',compression='gzip',dtype=taxi_dtypes,sep=',')

In [7]:
df.to_csv('./yellow_tripdata_2021-01.csv',index=False)

In [8]:
df1 = pd.read_csv('./yellow_tripdata_2021-01.csv')

C:\Users\pc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [11]:
df["passenger_count"].isin([0]).sum()

26726