In [14]:
import pandas as pd
import os
from sqlalchemy import create_engine
import requests
import gzip
import shutil

In [15]:
response = requests.get("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz")

In [24]:
def download_extract(url):
    response = requests.get(url)
    if response.status_code == 200:
        with open('./data.csv.gz','wb') as f:
            f.write(response.content)
            with gzip.open('./data.csv.gz','rb') as f_in:
                with open('./file.csv','wb') as f_out:
                    shutil.copyfileobj(f_in,f_out)
    return "Extraction completed"

In [25]:
url ="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"
download_extract(url)

'Extraction completed'

In [28]:
engine = create_engine('postgresql://root:root@localhost:5433/homework')

In [29]:
engine.connect()

In [30]:
#Load data
df = pd.read_csv("file.csv")
#get summary
df.head()

C:\Users\pc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [31]:
#Get the shape
df.shape

(449063, 20)

In [35]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime  = pd.to_datetime(df.lpep_dropoff_datetime )

## print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

In [37]:
df_iter = pd.read_csv("file.csv",iterator=True,chunksize=100000)

In [38]:
type(df_iter)

pandas.io.parsers.readers.TextFileReader

In [39]:
df_iter

In [40]:
df1 = next(df_iter)

In [42]:
df1.shape

(100000, 20)

In [45]:
# Record start time
import time
t1 = time.time()

# While loop that will insert data chunk by chunk
while True:
    try:
        # Record start time for each chunk
        chunk_start_time = time.time()
        
        df = next(df_iter)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.to_sql(name='yellow_taxi_data', if_exists='append', con=engine)

        # Calculate time taken for the current chunk
        chunk_end_time = time.time()
        chunk_time_taken = chunk_end_time - chunk_start_time

        # Print information for the current chunk
        print(f"Chunk inserted. Time taken: {chunk_time_taken:.2f} seconds")

    except StopIteration:
        # Record end time
        t2 = time.time()
        break

print("Last Chunk of data inserted")
print(f"Whole process took {t2 - t1:.2f} seconds")

Chunk inserted. Time taken: 9.80 seconds
Chunk inserted. Time taken: 8.95 seconds

C:\Users\pc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Chunk inserted. Time taken: 8.93 seconds
Chunk inserted. Time taken: 4.05 seconds
Last Chunk of data inserted
Whole process took 31.72 seconds

In [49]:
#download and insert the second data 
def download_csv(url):
    response_1 = requests.get(url)
    if response_1.status_code == 200:
        with open('zones.csv','wb'
                 ) as f:
            f.write(response_1.content)
    return "finished downloading"

In [50]:
url_1 = 'https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv'
download_csv(url_1)

'finished downloading'

In [51]:
df_2 = pd.read_csv("zones.csv")

In [52]:
df_2.shape

(265, 4)

In [53]:
df_2.head(n=5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [55]:
df_2.to_sql(name="zones",if_exists="append",con=engine)

In [ ]:
#SELECT borough, SUM(total_amount) AS total_amount_sum \
FROM yellow_taxi_data Y INNER JOIN ZONES Z ON y.PULocationID=z.locationid \
WHERE \
    lpep_pickup_datetime BETWEEN '2019-09-18' AND '2019-09-19' \
    AND pickup_borough != 'Unknown' \
GROUP BY pickup_borough \
HAVING SUM(total_amount) > 50000 \
ORDER BY total_amount_sum DESC \
LIMIT 3;